<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node
    *matTreeNodeDef="let categoryNode"
    matTreeNodePadding
    matTreeNodePaddingIndent="25"
    [class.tree-node-invisible]="categoryNode.amount < 0.01" >

    <div style="width: 32px;height: 32px" class="content-in-center">
      <mat-icon class="dark-gray">remove</mat-icon>
    </div>
    <div *ngIf="!!categoryNode.id" style="display: contents;">
      {{categoryNode.name}} &nbsp;<span style="font-weight: bold"> {{categoryNode.amount | number: '1.0-1':'ru'}} </span>
    </div>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let categoryNode; when: hasChild"
    matTreeNodePadding
    matTreeNodePaddingIndent="25">

    <button mat-icon-button class="icon-button" matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + categoryNode.name"
            >
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(categoryNode) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{categoryNode.name}} &nbsp;<span style="font-weight: bold"> {{categoryNode.amount | number: '1.0-1':'ru'}} </span>
  </mat-tree-node>
</mat-tree>
