.content {
    margin-top: 10px;
}

::ng-deep .mat-bottom-sheet-container {
  padding: 0 !important;
}

.mat-column-date {
  width: 121px;
  text-align: center;
  background-color: ghostwhite;
}

.mat-column-description {
  text-align: left;
}

.mat-column-amount {
  font-weight: bold;
}

.table-row {
  height: 30px !important;
}
