<div mat-dialog-content class="content-in-center main-div">
  <h1 mat-dialog-title>{{headerTitle}}</h1>
  <mat-form-field>
<!--    <mat-label>Название</mat-label>-->
    <span class="span-input-tmp">Название*</span>
    <input required matInput [(ngModel)]="account.name">
  </mat-form-field>

  <mat-form-field>
<!--    <mat-label>Сумма</mat-label>-->
    <span class="span-input-tmp">Сумма*</span>
    <input required matInput Mask="^\d*\.?\d{0,2}$" [(ngModel)]="account.amount">
  </mat-form-field>

  <mat-form-field>
    <span class="span-input-tmp">Валюта*</span>
    <mat-select [(ngModel)]="account.currencyId" required>
      <mat-option>
        <ngx-mat-select-search [formControl]="currencyFilterCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.id">
        {{currency.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
<!--    <mat-label>Тип</mat-label>-->
    <span class="span-input-tmp">Тип*</span>
    <mat-select [(ngModel)]="account.type" required>
      <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
        {{AccountTypeToViewInfoMapping[accountType].label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="mat-dialog-actions">
    <button
      *ngIf="currentAction == OpenCardActionEnum.Update"
      color="warn"
      mat-icon-button
      (click)="delete()"
      onclick="this.blur()"
      class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="primary">
      <span>Отмена</span>
    </button>
    <button mat-button (click)="doAction()" [disabled]="!canCreate()">OK</button>
  </div>
</div>
