<!--<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>-->

<mat-toolbar style="background-color: #3d3e49">
  <mat-toolbar-row>
    <div class="flex-v-center">
      <button mat-icon-button style="color: white;" (click)="sidenav.toggle()" onclick="this.blur()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
    </div>
    <div class="flex-v-center name-avatar">
      <button mat-icon-button (click)="refreshPage()" class="refresh-button"
              matTooltip="Обновить страницу" onclick="this.blur()">
        <mat-icon class="icon-font-large">refresh</mat-icon>
      </button>
      <div class="flex-h-space-between avatar-firstname-block" [matMenuTriggerFor]="dropdownMenu">
        <label style="color: white; margin-right: 7px">{{userFirstName}}</label>
        <mat-card class="avatar-card">
          <div mat-card-avatar class="avatar-header-image"
               [ngStyle]="{'background-image':'url('+avatarUrl+')'}"></div>
        </mat-card>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="menu-sidenav">
    <mat-nav-list>
      <div *ngFor="let item of menuItems">
        <mat-list-item
          (click)="sidenav.close()"
          routerLinkActive
          #routerLinkActiveInstance="routerLinkActive"
          [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
          [class.list-item-active]="routerLinkActiveInstance.isActive"
          [routerLink]="[item.route]">
          <div style="display: flex">
            <mat-icon class="nav-list-icon">{{item.icon}}</mat-icon>
            {{item.text}}
          </div>
        </mat-list-item>
      </div>

      <mat-divider></mat-divider>
      <!-- <mat-list-item [routerLink]="'/settings'" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>settings</mat-icon>
          <h4 mat-line>Настройки</h4>
      </mat-list-item> -->
      <mat-divider></mat-divider>
      <mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListIcon class="nav-list-icon"></mat-icon>Закрыть
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <footer>
        Love '{{title}}' app?&nbsp;
        <a href="https://github.com/oleglarionov/balance.core" target="_blank" rel="noopener"> Give our repo a
            star.
            <div class="github-star-badge">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                </svg>
                Star
            </div>
        </a>
        <a href="https://github.com/oleglarionov/balance.core" target="_blank" rel="noopener">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
                <path d="M0 0h24v24H0z" fill="none" /></svg>
        </a>
    </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #dropdownMenu x-position="before" class="account-actions-menu">
  <!-- <a mat-menu-item (click)="switchLanguage()">
      <span class="flag-icon" [ngClass]="getCurrentLanguageIconClass()"></span>
      <span>Язык</span>
  </a> -->
  <a mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Выйти</span>
  </a>
</mat-menu>
