<!--<div class="content">-->
<!--  <div *ngFor="let spending of spendings">-->
<!--    <span>{{spending.date | date:'dd MMM yy (E)' }}</span>-->
<!--    <span>{{spending.description}}</span>-->
<!--    <span>{{spending.amount}}</span>-->
<!--  </div>-->
<!--    <p>Для получения уведомлений об обработанных чеках и переводах выполните следующие действия:</p>-->
<!--    <p>1. Перейдите на <a href='https://vk.com/kutily' target="popup">https://vk.com/kutily</a></p>-->
<!--    <p>2. Нажмите "<b>Написать сообщение</b>" -> "<b>Начать</b>"</p>-->
<!--    <p>Готово!</p>-->
<!--</div>-->

<table mat-table [dataSource]="spendings" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="date">
    <td mat-cell *matCellDef="let spending">{{spending.date | date:'dd MMM yy (E)' }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <td mat-cell *matCellDef="let spending">{{spending.description}}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <td mat-cell *matCellDef="let spending">{{spending.amount | number: '1.0-0':'ru'}}</td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
</table>
