.mat-tree-node {
  min-height: 30px;
  height: 30px;
}


.icon-button {
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role=img] {
    width: 24px;
    height: 24px;
    font-size: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 32px !important;
    height: 32px !important;
  }
}

@media only screen and (max-width: 600px) {
  .icon-button {
    margin-left: 0;
  }
}

.no-data {
  pointer-events: none;
  color: gray !important;
}

.tree-node-invisible {
  display: none;
}
