.total-amount-dev {
  font-size: 18px;
  padding: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.accounts-table {
  margin-top: 15px;
  font-size: 12px;
}

th { text-align: center !important; }
td { text-align: center !important; }

.create-account-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gray-left-border {
  border-left: #b7b7b7 1px solid;
}

.account-types-info > div {
  display: flex;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}
