<div class="content-in-center" style="margin-top: 10px;">

  <div *ngIf="!!accountsInfo && accountsInfo.accounts.length != 0" style="width: 100%">
    <div class="total-amount-dev content-in-center">
      <span>Сумма на всех счетах: <b>{{accountsInfo.totalAmount | number: '1.0-0':'ru'}} {{currentCurrency.code}}</b></span>
    </div>

    <table mat-table [dataSource]="accountsInfo.accounts" class="mat-elevation-z8 accounts-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let account">{{account.name}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Тип</th>
        <td mat-cell *matCellDef="let account; dataSource: accountsInfo.accounts">
          <img width="30" height="30" src="{{AccountTypeToLabelMapping[account.type].icon}}" alt="cash"/>
        </td>
      </ng-container>

      <ng-container matColumnDef="originalCurrencyAmount">
        <th mat-header-cell *matHeaderCellDef>Сумма</th>
        <td mat-cell *matCellDef="let account">{{account.originalCurrencyAmount | number: '1.0-0':'ru'}}</td>
      </ng-container>

      <ng-container matColumnDef="targetCurrencyAmount">
        <th mat-header-cell class="gray-left-border" *matHeaderCellDef>Сумма ({{currencyService.getById(currentCurrency.id)!.code}})</th>
        <td mat-cell class="gray-left-border" *matCellDef="let account">{{account.targetCurrencyAmount | number: '1.0-0':'ru'}}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Валюта</th>
        <td mat-cell *matCellDef="let account">
          <img [src]=currencyService.getIconById(account.originalCurrencyId)>
          {{currencyService.getById(account.originalCurrencyId)!.code}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let account; columns: displayedColumns;"
          (click)="openAccountCard(account)"
          class="table-row"></tr>
    </table>

  </div>

  <button mat-button class="create-account-button" (click)="create()">Добавить счет</button>

  <div class="account-types-info content-in-center">
    <div>
      <div style="margin-right: 5px"><img width="30" height="30" src="{{AccountTypeToLabelMapping.DebitCard.icon}}"/> - {{AccountTypeToLabelMapping.DebitCard.label}}</div>
      <div style="margin-left: 5px"><img width="30" height="30" src="{{AccountTypeToLabelMapping.CreditCard.icon}}"/> - {{AccountTypeToLabelMapping.CreditCard.label}}</div>
    </div>
    <div>
      <div style="margin-right: 5px"><img width="30" height="30" src="{{AccountTypeToLabelMapping.Cash.icon}}"/>&nbsp;- {{AccountTypeToLabelMapping.Cash.label}}</div>
      <div style="margin-left: 5px"><img width="30" height="30" src="{{AccountTypeToLabelMapping.Brokerage.icon}}"/> - {{AccountTypeToLabelMapping.Brokerage.label}}</div>
    </div>
    <div><img width="30" height="30" src="{{AccountTypeToLabelMapping.Other.icon}}"/> - {{AccountTypeToLabelMapping.Other.label}}</div>
  </div>

</div>

