<fieldset>

  <h1 mat-dialog-title>Редактирование траты</h1>
  <div mat-dialog-content>
    <div>

      <mat-form-field>
        <mat-label>Описание</mat-label>
        <input required matInput [(ngModel)]="spending.description">
      </mat-form-field>

      <div class="flex-h-space-between">
        <mat-form-field class="w-48">
          <mat-label>Сумма</mat-label>
          <input required matInput Mask="^\d*\.?\d{0,2}$" [(ngModel)]="spending.amount">
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Валюта</mat-label>
        <mat-select [formControl]="cuurencyCtrl" [(ngModel)]="selectedCurrencyId" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="currencyFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.id">
            {{currency.code}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Дата</mat-label>
        <input required matInput [matDatepicker]="picker" [(ngModel)]="spending.date">
        <mat-hint>ДД/ММ/ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

</fieldset>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    <span>Отмена</span>
  </button>
  <button mat-button [disabled]="!canBeCreated()" (click)="save()">Сохранить</button>
</div>
