table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

mat-card {
  border: none !important;
}

.spending-row {
  cursor: pointer;
}

.categories-list-header {
  margin-bottom: 10px;
}

.search-results {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .toogle-row {
    padding: 0;
    width: 6vw;
    height: 6vw;
  }
}
