table { width: 100%; }
th { text-align: center !important; }
td { text-align: center !important; }

th.mat-header-cell {
  text-align: center;
  font-size: medium;
  color: black;
}

.mat-header-row {
  border-bottom: white 1rem solid;
}

.mat-cell {
  text-align: center;
}

.mat-column-title {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  width: 60px;
}


td:first-child, th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child, th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 .5em !important;
}

.table-wrapper {
  box-shadow: none;
}

.zero-balance-wrap h1 {
  color: black;
}

.zero-balance-wrap img {
  transform: translateY(-20px);
}

@media only screen and (max-width: 600px) {
  .zero-balance-wrap img {
    width: 100vw;
  }
}

.balance-actions-menu {
  width: 180px;
  /* background-color: #ececec; */
}

thead {
  display: none !important;
}
