<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <mat-tree-node
    *matTreeNodeDef="let categoryNode"
    matTreeNodePadding
    matTreeNodePaddingIndent="25">

    <div style="width: 32px;height: 32px" class="content-in-center">
      <mat-icon class="dark-gray">remove</mat-icon>
    </div>
    <div *ngIf="!!categoryNode.id" style="display: contents;">
      {{categoryNode.name}}
      <button mat-icon-button
              (click)="addParentNode(categoryNode)"
              matTooltip="Добавить в родительскую категорию"
              class="icon-button"
              *ngIf="categoryNode.level != 2"
              [disabled]="isAddingToCategoryInProcess()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button
              (click)="categoryNode.level == 0 ? removeSpendingFromCategory(categoryNode) : removeCategoryFromParent(categoryNode)"
              [matTooltip]="categoryNode.level == 0 ? 'Удалить трату из категории' : 'Удалить категорию из родительской'"
              class="icon-button"
              [disabled]="isAddingToCategoryInProcess()">
        <mat-icon class="red">remove_circle</mat-icon>
      </button>
    </div>
    <div *ngIf="!categoryNode.id" class="inputCategory">
      <mat-form-field appearance="outline">
        <div>
          <input type="text"
                 placeholder="Название"
                 matInput
                 [formControl]="newOrExistCategoryInput"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(categoryNode)">
            <mat-option *ngFor="let filteredCategory of filteredCategories | async"
                        [value]="filteredCategory"
                        [ngClass]="_allowSelection(filteredCategory.title)">
              {{filteredCategory.title}}
            </mat-option>
          </mat-autocomplete>
        </div>
      </mat-form-field>
      <div class="adding-to-parent-category-buttons">
        <button mat-icon-button
                class="icon-button add-to-parent-category-button"
                [disabled]="!newOrExistCategoryInput.value"
                (click)="addToParentCategory(categoryNode)"
                matTooltip="Сохранить">
          <mat-icon class="green">check_circle</mat-icon>
        </button>
        <button mat-icon-button
                (click)="cancelAddingToParentNode(categoryNode.childId)"
                matTooltip="Отмена"
                class="icon-button">
          <mat-icon class="red">cancel</mat-icon>
        </button>
      </div>

    </div>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let categoryNode; when: hasChild"
    matTreeNodePadding
    matTreeNodePaddingIndent="25">

    <button mat-icon-button class="icon-button" matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + categoryNode.name"
            (click)="expandingStates[categoryNode.id] = treeControl.isExpanded(categoryNode)">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(categoryNode) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{categoryNode.name}}
    <button mat-icon-button
            (click)="addParentNode(categoryNode)"
            matTooltip="Добавить в родительскую категорию"
            class="icon-button"
            [disabled]="isAddingToCategoryInProcess()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button
            (click)="categoryNode.level == 0 ? removeSpendingFromCategory(categoryNode) : removeCategoryFromParent(categoryNode)"
            [matTooltip]="categoryNode.level == 0 ? 'Удалить трату из категории' : 'Удалить категорию из родительской'"
            class="icon-button remove-category"
            [disabled]="isAddingToCategoryInProcess()">
      <mat-icon class="red">remove_circle</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>

<div [ngClass]="treeCategories.length != 0 ? 'add-root-category-button-wrap' : ''" style="margin-bottom: 5px">
  <button
    class="add-root-category-button"
    (click)="addRootNodeCategory()"
    mat-flat-button
    [disabled]="isAddingToCategoryInProcess()">
    <mat-icon color="primary" class='process-check-icon'>add</mat-icon>
    <span class="process">Добавить в категорию</span>
  </button>
</div>
