<div *ngIf="!!currentCurrency" class="content-in-center">
  <div class="content-in-center">
    <h2>Текущая валюта отображения</h2>
    <span>{{currentCurrency.title}}</span>
    <mat-form-field>
      <mat-label>Валюта</mat-label>
      <mat-select [ngModel]="currentCurrency.id" (selectionChange)="changeCurrency($event)">
        <mat-option>
          <ngx-mat-select-search [formControl]="currencyFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.id">
          <img [src]=FlagEmojiiConverter.getSrcByEmojiCode(currency.flagEmojiCode)>
          {{currency.code}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    <mat-select-->
<!--      placeholder="Fruit"-->
<!--      [(ngModel)]="currentCurrency">-->

<!--      <mat-option>-->
<!--        <ngx-mat-select-search [formControl]="currencyFilterCtrl"></ngx-mat-select-search>-->
<!--      </mat-option>-->
<!--      <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency">{{currency.code}} {{currency.title}}</mat-option>-->
<!--    </mat-select>-->
  </div>
</div>
